body {
    font-family: sans-serif;
    background-color:black;
}

header {
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
}

.button {
    background-color: #36bbce;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    justify-content: space-between;
    display: flex;
}

.nav-link {
    font-size: 24px;
    color: rgb(255, 252, 252);
    text-decoration: none;
    display: flex;
}

h1 {
    text-align: center;
    color: rgb(192, 192, 192);
    font-size: 36px;
    margin-top:10px ;
    margin-bottom:5px ;
}

p {
    font-size: 24px;
}

.info {
    flex-wrap: wrap;
    width: 1100px;
    margin: 0px;
    display: flex;
}

article {
    background-color: rgb(253, 249, 249);
    padding: ;
    width: 400px;
    margin: ;
}

.article-but {
    text-decoration: none;
    background-color: rgb(0, 247, 255);
    color: rgb(255, 238, 238);
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
}

footer {
    background-color: rgb(2, 255, 200);
    padding: ;
}

footer a {
    margin-right: ;
}

footer p {
    font-size: 24px;
}
